<div id="ser_option">
  <div class="container">
    <%= render partial: "service_option", :locals => {
    :p1 => {:name => "Fabric Selection" , :image => cushion_circle_fabric },
    :photo => cushion_select_pic }%>
  </div>
</div>