<div id="ser_option">
  <div class="container">
      <div class="row">
      <div id="misccrumbs">
         HOME/ <%= "#{safe_service}/ ".html_safe %>
         <span class="option_bold"><%= "#{@name}" %></span>
      </div>
    </div>
    </br>
    <div id="s8">
      <div id="s_misc">
        <span class="s_sub">MISCELLANEOUS REPAIRS<br>SERVICES &amp; PRODUCTS</span>
      </div>
    </div>
    </br>
    <ul class="list-unstyled misc_text">
      <li>
        <span class="misc_t"> Repairs</span>
        <ul>
          <li>
            Welding patio furniture parts.
          </li>
          <li>
            Touch-Up paint.
          </li>
          <li>
            Removing and replacing bolts, rivnuts and end caps.
          </li>
        </ul>
      </li>
      </br>
      <li>
        <span class="misc_t"> Services</span>
        <ul>
          <li>
            Pick-up and Delivery available from Monday-Friday on all our services. Saturdays upon request.          </li>
          <li>
            Set-Ups: remove protective wrapping on new furniture, dispose of trash and place furniture at requested location.
          </li>
        </ul>
      </li>
      </br>
      <li>
        <span class="misc_t">Products </span>
        <ul>
          <li>
            Cleaners
          </li>
          <li>
            Caps
          </li>
          <li>
            Rivnuts
          </li>
          <li>
            Bushings for Swivel Rocker Chairs
          </li>

            --- Products are only available for purchase and pick-up at our location. Shipping is not available.

        </ul>
      </li>
    </ul>
  </div>
</div>