<div id="ser_option">
  <div class="container">
    <%= render partial: "service_option", :locals => {
    :p1 => {:name => "Fabric Selection" , :image => resling_fabric_pic },
    :p2 => {:name => "Finish Selection" , :image => resling_finish_pic },
    :photo => resling_select_pic } %>
  </div>
</div>