<div id="ser_option">
  <div class="container">
    <%= render partial: "service_option", :locals => {
    :p1 => {:name => "Vinyl Selection" , :image => restrap_vinyl_pic },
    :p2 => {:name => "Finish Selection" , :image => restrap_finish_pic },
    :photo => restrap_select_pic } %>
  </div>
</div>