<div id="ser_option">
  <div class="container">
    <%= render partial: "service_option", :locals => {
    :p1 => {:name => "Finish Selection" , :image => powdercoat_finish_pic },
    :photo => sandblast_select_pic } %>
  </div>
</div>