<div id="shop">
  <div class="container">
    <div class="row">
      <div class="col-xs-6"></div>
      <div class="col-xs-6">
        </br>
        </br>
        </br>
        </br>
        </br>
        <span id="shop_header">MISSING<br>ANYTHING?</span>
        </br></br>
        <span id="shop_sub">
          Let us help you complete your restored patio furniture
          <br>
          by adding anything else you need to your set. Whether
          <br>
          that is an extra table, firepit, umbrella, or love-seat. 
        </span>
        </br>
        </br>
        </br>
        <%= link_to 'Visit Tropitone Furniture', "https://www.tropitone.com",
            :target => "_blank", :class => "btn btn-success tropitonebtn" %> 
        </br>
        </br>
      </div> 
    </div>
  </div>
</div>