<div id="ser_option">
  <div class="container">
  <h1 class="text-center"> Fabric</h1>
  <br>
  <%= render partial: "x_selection", :locals => {
  :name => "Cushion Fabric Selection",
  :image => cushion_circle_fabric } %>
  <br>
  <%= render partial: "x_selection", :locals => {
  :name => "Umbrella Fabric Selection",
  :image => umbrella_circle_fabric } %>
  <br>
  <%= render partial: "x_selection", :locals => {
  :name => "Re-Sling Fabric Selection",
  :image => resling_fabric_pic } %>
  </div>
</div>
