<div class="swatch text-center">
  <br>
  <h1> Vinyl</h1>
  <br>
  <br>
  <br>
  <br>
  <div id="sb-container" class="vn-container">
    <div>
      <h4>Obsidian</h4>
    </div>
    <div>
      <h4>Merlot</h4>
    </div>
    <div>
      <h4>Cobalt</h4>
    </div>
    <div>
      <h4>Woodland Green</h4>
    </div>
    <div>
      <h4>Aluminum Metal</h4>
    </div>
    <div>
      <h4>Titanium</h4>
    </div>
    <div>
      <h4>Mocha</h4>
    </div>
    <div>
      <h4>Graphite</h4>
    </div>
    <div>
      <h4>Expresso</h4>
    </div>
    <div>
      <h4>Aged Bronze</h4>
    </div>
    <div>
      <h4>Bronze Mica</h4>
    </div>
    <div>
      <h4>Greco</h4>
    </div>
    <div>
      <h4>Almond Silk</h4>
    </div>
    <div>
      <h4>Moab</h4>
    </div>
    <div>
      <h4>Sonora</h4>
    </div>
    <div>
      <h4>Shell</h4>
    </div>
    <div>
      <h4>Parchment</h4>
    </div>
    <div>
      <h4>Snow</h4>
    </div>
    <div>
      <h4>Citron Yellow</h4>
    </div>
    <div>
      <h4>Dove</h4>
    </div>
    <div>
      <h4>Adobe</h4>
    </div>
    <div>
      <h4>Leisure Brown</h4>
    </div>
    <div>
      <h4>Coffee</h4>
    </div>
    <div>
      <h4>Camel</h4>
    </div>
    <div>
      <h4>Dark Green</h4>
    </div>
    <div>
      <h4>Navy Blue</h4>
    </div>
    <div>
      <h4>Grey</h4>
    </div>
    <div>
      <h4>French Blue</h4>
    </div>
    <div>
      <h4>Burgundy</h4>
    </div>
    <div>
      <h4>Forest Green</h4>
    </div>
  </div><!-- sb-container -->

  <script type="text/javascript">
    $(function() {
      $( '#sb-container' ).swatchbook( {
        // openAt : 0
        // number of degrees that is between each item
        angleInc : -10,
        // amount in degrees for the opened item's next sibling
        proximity : -45,
        neighbor : -4,
        // index of the element that when clicked, triggers the open/close function
        // by default there is no such element
        closeIdx : 11
       } );
    });
  </script>
</div>