<div id="ser_option">
  <div class="container">
    <%= render partial: "service_option", :locals => {
    :p1 => {:name => "Finish Selection" , :image => table_finish_pic },
    :photo => table_select_pic } %>  </div>
</div>