<div id="ser_option">
  <div class="container">
    <%= render partial: "service_option", :locals => {
    :p1 => {:name => "Fabric Selection" , :image => umbrella_circle_fabric },
    :photo => umbrella_select_pic } %>
  </div>
</div>